/*CSS: unten schlägt oben, speziell schlägt generell,
Verbindung zu html schaffen, im html im head link mit Dateiname einfügen
z.B. <link rel="stylesheet" href="syle.css">
</head>
Selektor{eigenschaft:wert;}
  H1    {font-family:Arial;}*/
*{
  box-sizing: border-box;
}
/**gilt für alles*/


html, body{
/*Selektoren gelten für beide Bereiche im html*/
  width: 100%;
  height: 100%;
/*gesamte Seite*/
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
/*kein Bildrand/Außenabstand mehr, ist sonst voreingestellt, siehe Untersuchen auf Website*/
  line-height: 1.4;
}

#navigation{
  background-color: rgb(40,44,52);
}
/*in html "div id" erstellt, muss in CSS mit # angesprochen werden
hier: navigation umfasst gesamten header, deshalb background color hier, geht nicht in wrapper*/

.wrapper{
  width: 90%;
  margin: auto;
}
/*in html "div class" erstellt, muss in CSS mit . angesprochen werden
gilt nur für Logo im header
ist class und nicht id um es auf der gesamten Seite zu nutzen, effizienter als id die immer wieder neu erstellt werden muss
width 90% von ursprunglicher Größe (zieht zB Logo mehr in Mitte), margin auto ordnet das eingezogene Logo mittig an*/

#navigation a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#navigation li{
  list-style: none;
}
